@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px dashed white; */
}

html {
  scroll-behavior: smooth;
}

#bubble {
  transform: translateX(0);
  animation: float 6s ease-out infinite;
}
@keyframes float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.light_bg {
  /* background-color: #fff9fb; */
  background: linear-gradient(
    135deg,
    rgb(127, 237, 127),
    rgba(233, 103, 204, 0.4)
  );
}
.light_bg_nav {
  /* background-color: #fff9fb; */
  background: linear-gradient(135deg, rgb(133, 240, 133), rgb(173, 226, 173));
}

.morph {
  border-radius: 50px;
  background: #eee8e8;
  box-shadow: 35px 35px 70px #cac5c5, -35px -35px 70px #ffffff;
}
